<!doctype html>
<html lang="en">
    <head>
      <page-title />
      <link href="styles/app.css" rel="stylesheet">
      <link href="styles/default.css" rel="stylesheet">
      <link href="styles/prism.css" rel="stylesheet">
      <link rel="icon" type="image/png" sizes="32x32" href="img/favicon.png">
      <link href="https://fonts.googleapis.com/css?family=Ruda" rel="stylesheet">
    </head>
    <body>
      <Loader />
      <div class="table">
        <div class="left-column">
          <div class="logo">
            <img src="img/logo.jpg" alt="typal logo">
          </div>
          <div class="badges">
            <github-badge name="typal" org="artdecocode" />
            <npm-badge name="typal" version="1.3.0">_Typal_</npm-badge>
          </div>

          ### Pages

          <Pages />

          ### npm links

          <ul>
            * [typal](https://www.npmjs.com/package/typal)
            * [documentary](https://www.npmjs.com/package/documentary)
            * [depack](https://www.npmjs.com/package/depack)
          </ul>
        </div>
        <div class="right-column" id="Content">
          {{ content }}
        </div>
        </div>
        <footer>
          &copy; {{ company }}, <year/>
        </footer>
        <script src="js/main.js"></script>
    </body>
</html>
